* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(228, 228, 228, 0.87);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

p {
  color: rgb(94, 94, 94);
}

#titulo-principal {
  color: rgb(102, 102, 102);
  font-size: 32px;
}

#sub {
  color: rgb(102, 102, 102);
  font-size: 20px;
}

#links,
a {
  color: rgb(122, 92, 255);
}

a:hover {
  color: rgb(11, 1, 58);
}

#rodape {
  color: rgb(0, 0, 0);
}

form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgb(240, 239, 239);
  margin: 0 auto;
  border-radius: 10px;
}

input[type="text"],
input[type="password"] {
  text-align: center;
  padding: 8px;
  width: 250px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

input[type="text"]:hover,
input[type="password"]:hover {
  width: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: rgb(87, 87, 87);
}

button {
  padding: 8px 16px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

