body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://sdmntprwestus2.oaiusercontent.com/files/00000000-ec40-61f8-9e82-deea43cc4489/raw?se=2025-05-26T23%3A17%3A24Z&sp=r&sv=2024-08-04&sr=b&scid=58674e0d-6bd9-5304-8c5b-5e33a6029ee5&skoid=c953efd6-2ae8-41b4-a6d6-34b1475ac07c&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-26T09%3A22%3A49Z&ske=2025-05-27T09%3A22%3A49Z&sks=b&skv=2024-08-04&sig=YU7Fi7baAdLvq9KcBg9yMinjwixh5G0CrYqz6mLE1%2B8%3D'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 350px;
  width: 100%;
}

#titulo-principal {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to right, #59a69a 50%, #56a3c8 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 10px;
}

#sub {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to right, #59a69a 50%, #56a3c8 50%);
  -webkit-background-clip: text;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #59a69a 50%, #56a3c8 50%);
  -webkit-background-clip: text;
  margin: 0px;
}

p {
  margin-bottom: 10px;
}

p input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #59a69a;
  text-align: left;
  margin: 10px;
  display: block;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #59a69a;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #56a3c8;
  transition: all 0.5s ;
}

#links {
  text-align: center;
}

#links a {
  text-decoration: none;
  color: #59a69a;
}

#links a:hover {
  color: #56a3c8;
  transition: color 0.3s ease;
  font-weight: bold;
}










